body {
    font-family: "Noto Sans", arial;
    background-color: rgb(194, 227, 255);
}

hr {
    background-color: black;
    height: 3px;
    border: none;
}

section {
    padding: 20px 18%;
}

nav {
    padding: 10px 0px;;
    width: 100%;
    font-size: 24px;
}

nav ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}

.coloris {
    font-size: 36px;
    font-weight: bold;
}

#colors img {
    padding: auto; /* gonna have to change this, i'm trying to make the image centered but not the texts but it might not even look good so */
}

#bluetitle {
    color: mediumturquoise;
}

#pinktitle {
    color: hotpink;
}