body {
    font-family: "Noto Sans", arial;
    background-color: rgb(194, 227, 255);
}

hr {
    background-color: black;
    height: 3px;
    border: none;
}

section {
    padding: 20px 18%;
}

nav {
    padding: 10px 0px;;
    width: 100%;
    font-size: 24px;
}

nav ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}

.coloris {
    font-size: 36px;
    font-weight: bold;
}

#colors img {
    padding: auto; /* gonna have to change this, i'm trying to make the image centered but not the texts but it might not even look good so */
}

#bluetitle {
    color: mediumturquoise;
}

#pinktitle {
    color: hotpink;
}

button {
    background-color: rgb(153, 145, 234);
    color: white;
    padding: 1em;
    border-radius: 4px;
    border-color: rgb(153, 145, 234);
}

button:hover {
    cursor: pointer;
}

#inspect, #init, #sliders {
    display: flex;
    align-content: center;
    text-align: center;
    height: auto;
    width: auto;
}

#inspect > div {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 25%; /* OH MY GOD SOMETHING THAT CENTERS HORIZONTALLY ! */
    transform: translateY(-50%);
}

#sliders > div {
    margin: auto;
}

@keyframes slide-off {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-on {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

#init > div {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 43%; /* OH MY GOD SOMETHING THAT CENTERS HORIZONTALLY ! */
    transform: translateY(-50%);
}

input[type="text"] {
    border-radius: 4px;
    border-color: darkcyan;
}

#ready {
    background-color: burlywood;
    color:black;
    text-decoration: underline;
}

.bye-bye {
    animation: slide-off 2s;
}

.hello {
    animation: slide-on 2s;
}

#sliders > div > label {
    text-decoration: underline;
}

#CO2disp, #Aciddisp {
    text-decoration: none;
}