body {
    font-family: "Noto Sans", arial;
    background: #C2E3FF;
    background: linear-gradient(180deg, rgba(194, 227, 255, 1) 0%, rgba(83, 227, 237, 1) 100%);
    min-height: 1000px;
}

hr {
    background-color: black;
    height: 3px;
    border: none;
}

section {
    padding: 20px 18%;
}

nav {
    padding: 10px 0px;;
    width: 100%;
    font-size: 24px;
}

nav ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
}

.coloris {
    font-size: 36px;
    font-weight: bold;
}

#colors img {
    margin: auto; /* gonna have to change this, i'm trying to make the image centered but not the texts but it might not even look good so */
    height: 90%;
    width: 90%;
}

#bluetitle {
    color: mediumturquoise;
}

#pinktitle {
    color: hotpink;
}

#deepbluetitle {
    color: blue;
}

#beigetitle {
    color: rgb(255, 229, 126);
}

#greentitle {
    color: aquamarine;
}

button {
    background-color: rgb(153, 145, 234);
    color: white;
    padding: 1em;
    border-radius: 4px;
    border-color: rgba(153, 145, 234, 0.86);
}

button:hover {
    cursor: pointer;
}

#inspect, #init, #sliders, #end {
    display: flex;
    align-content: center;
    text-align: center;
    height: auto;
    width: auto;
}

#inspect > div {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 25%; /* OH MY GOD SOMETHING THAT CENTERS HORIZONTALLY ! */
    transform: translateY(-50%);
}

#sliders > div {
    margin: auto;
}

@keyframes slide-off {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-on {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

#init > div {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 43%; /* OH MY GOD SOMETHING THAT CENTERS HORIZONTALLY ! */
    transform: translateY(-50%);
}

input[type="text"] {
    border-radius: 4px;
    border-color: darkcyan;
}

#ready {
    background-color: burlywood;
    color:black;
    text-decoration: underline;
}

.bye-bye {
    animation: slide-off 2s;
}

.hello {
    animation: slide-on 2s;
}

label {
    text-decoration: underline;
}

#CO2disp, #Aciddisp {
    text-decoration: none;
}

#sl_f {
    background-color: azure;
    color: black;
    margin-top: 1em;
}

#sticky {
    position: fixed;
    bottom: 0.5em;
}

#skip {
    background-color: gray;
    color: white;
}

form > p {
    margin-top: 1em;
    margin-bottom: 0.1em;
}

select {
    margin-top: 0;
    text-align: center;
    margin: auto;
    width: 40%;
}

#q_s {
    margin-top: 1em;
}

fieldset {
    margin: auto;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 3em;
    margin-top: 1em;
}

#wgw {
    text-decoration: underline;
    font-weight: bold;
}

#q_results {
    color: brown;
}

article {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}

article > p {
    padding: 10px;
}

#end > div {
    position: relative;
    margin: auto;
}

#lesson {
    color: red;
    text-decoration: underline;
}

#end > div > ol {
    display: grid;
    place-items: center;
    text-align: center;
}

#headstat {
    margin: auto auto 15px auto;
    display: flex;
    flex-direction: row;
}

#headstat p {
    font-size: 50px;
    color: white;
}

#headstattext {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 75px;
    width: 800px;
}

#dolphin {
    padding: 60px 0px 0px 0px;
}

#dolphin img {
    height: 100%;
    width: 100%;
    margin: 0;
}

#dolphin p {
    color: rgb(26, 145, 250);
    margin: 0;
}

#headabout {
    padding: 0px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headabout img {
    height: 25%;
    width: 25%;
}

#headabout h2 {
    font-size: 50px;
}

